*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: "Dafoe";
    src: url(../fonts/MrDafoe-Regular.ttf);
}

@font-face {
    font-family: "Santio-Bold";
    src: url(../fonts/Santio\ Bold.ttf);
}

nav{
    display: flex;
    justify-content: flex-end;
    font-family: "Inter";
    padding: 10px 30px;
}

.cta{
    display: flex;
    align-items: center;
}

.cta img{
    height: 30px;
    margin: 0 1em;
}

.cta a{
    text-decoration: underline;
    text-decoration-color: #E7BC0E ;
    text-underline-offset: 10px;
    color: #fff;
}

.cta a:hover{
    text-decoration: underline;
    color: #E7BC0E;
}

.big-hero{
    margin-top: -50px;
    padding-bottom: 10em;
    height: 100vh;
    background-image: url(../img/cleo-topper.jpg);
    background-position: center;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15em;
}

.first-container{
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 5em;
    margin-top: 10em;
}

.hero-bullet-point{
    width: 50vw;
}

h1, h2, .subheading, .copy{
    font-family: "Santio-Bold";
}

h1{
    font-size: 5rem;
    max-width: 15vw;
    color: #fff;
}

.scroll-cta{
    font-family: "Dafoe";
    color: #E7BC0E;
    font-size: 2rem;
}

.scroll-cta:after{
    content: " v";
    font-family: "Inter";
    font-weight: bold;
    margin: 0 0 0 10px;
}

.copy{
    font-size: 2rem;
    max-width: 29vw;
    line-height: 2.5rem;
}

.copy-top{
    color: #6BC1A3;
}

.copy-bottom{
    color: #7EB8E1;
}

.txt-hghlght{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.36); 
}

.bullet-point-icon{
    width: 15vw;
}

.yellow{
    color:#E7BC0E
}

.pink{
    color: #CB91B6;
}

.green{
    color: #6BC1A3;
}

h2{
    font-size: 5rem;
}

.subheading{
    font-size: 2rem;
}

.small{
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    background-image: url(../img/sea.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.family-image{
    height: 100vh;
    width: 100%;
    background-image: url(../img/kid.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.black{
    background-color: black;
    height: 80vh;
    padding: 5em 0 5em 5em;
}

.black p{
    font-size: 4rem;
    color: #fff;
    font-family: "Inter";
    font-weight: bold;
    width: 30vw;
}

footer{
    background-color: #000;
    color: #fff;
    text-align: center;
}

footer p{
    font-family: "Inter";
}

footer p a{
    color:#6BC1A3;
}

.btn-donate{
    padding: 1em 3em;
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    margin-top: 3em;
}

.btn-donate:hover{
    cursor: pointer;
    box-shadow: 5px 5px 0px 0px #fff;
}